@charset "UTF-8";

body {
  font-family: 'Noto Serif JP', serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  margin: 10% auto;
}

a {
  text-decoration: none;
  color: #333;
}


/*header*/

.header_wrapper {
  width: 100%;
  z-index: 4;
  position: fixed;
  background-color: #62554e;
  color: white;
}

.header_inner {
  width: 100%;
  margin: 0 auto;
}


.header_nav ul {
  width: 100%;
  display: table;
  list-style: none;
}

.header_nav ul li {
  display: table-cell;
  text-align: center;
  padding: 2.5%;
}

.header_nav ul li a {
  position: relative;
  cursor: pointer;
  transition: transform .3s;
  font-weight: 700;
  color: white;
}

.header_nav ul li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.header_nav ul li a:hover::after {
  transition: transform .3s;
  transform: scale(1, 1);
}


/*top*/

.top_wrapper {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  background: url(../img/top.jpg) no-repeat center;
  background-size: cover;
}

.top_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 20%;
  left: 15%;
}

.top_inner h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}


/*concept*/

.section {
  display: flex;
  z-index: 1;
}

.inner_wrapper {
  width: 7%;
  z-index: 3;
  background-color: #62554e;
}

.section_title {
  position: relative;
  display: flex;
  text-align: center;
  margin: 2.5% 0 ;
}

.section_title h1 {
  margin-left: 2em;
  font-size: 2.5em;
  border-bottom: solid 3px rgba(128, 128, 128, 0.955);
  padding: 2rem 0 .5rem 0;
}

.section_title img {
  position: absolute;
  width: 6em;
  top: .5em;
  left: -1em;
}

.concept_img_1 {
  position: relative;
  margin-bottom: 7.5%;
}

.concept_img_1::after{
  content: "";
  position: absolute;
  background: url("../img/concept1.jpeg") no-repeat center;
  background-size: cover;
  top: 0;
  left: 50%;
  width: 50%;
  height: 80%;
}

.concept_img_2 {
  position: relative;
}

.concept_img_2::after {
  content: "";
  position: absolute;
  background: url("../img/concept2.jpg") no-repeat center;
  background-size: cover;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
}

.concept_descript {
  width: 40%;
}

.concept_descript_right {
  position: relative;
  top: 0%;
  left: 60%;
}

.title {
  margin-bottom: 7%;
  padding-left: 2.5%;
  padding-bottom: 1%;
  font-size: 1.3em;
  line-height: 1.4;
  font-weight: bold;
  border-left:solid 3px #7C7C7C;
  border-bottom: solid 1px #7C7C7C;
}

.txt p em {
  display: block;
  padding-bottom: 3%;
  font-weight: bold;
}

.txt p {
  color: #555;
  line-height: 1.5;
}


/*menu*/

.menu {
  background: url(../img/menu.jpg) no-repeat center;
  background-size: cover;
}

.menu h2 {
  border-color: #fff;
}

.frame_wrapper {
  padding: 7.5%;
  margin: 10% auto;
  background-color: #003616;
  border: solid 7px #42270b;
  border-radius: 3px;
  color: #fff;
}

.frame {
  width: 80%;
  padding-left: 5%;
}

.txt_wrapper {
  display: flex;
}

.txt_right {
  list-style: none;
}

.txt_wrapper .txt {
  padding: 0 2.5%;
  line-height: 1.8;
  font-size: 1.35em;
}


/*news*/

.news_wrapper .title {
  margin-right: 50%;
}

.news_wrapper {
  font-size: .8em;

}

.news h2 {
  margin: 7% 0 3% 0;
}

.news_wrapper strong {
  display: block;
  font-size: 1.1em;
}

.news_wrapper span {
  position: relative;
  padding-left: 2em;
}

.news_wrapper span::before {
  position: absolute;
  content: "★";
  top: 0;
  left: .5em;
}


/*about*/

.about_inner {
  position: relative;
  background: url(../img/about.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 93%;
  color: #fff;
  height: 100%;
  padding: 10% 0;
}

.about .frame_wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0;
}

.about .frame {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.frame_top {
  padding-left: 10em;
  padding-top: 7em;
}

.about .txt p {
  color: #fff;
  margin-bottom: 1em;

}

.frame_bottom {
  position: absolute;
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 0 30%;
  padding-top: 3em;
}

.about .section_title h1 {
  border-color: #fff;
  margin-left: 1.3em;
}

.button {
  padding: 1em;
  background-color: #fe9;
  width: 40%;
  margin: 3em auto;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.button a {
  font-size: 1.2rem;
  color: #6C2838;
}

/*footer*/

.footer_logo {
  background-color: #62554E;
  padding: 30px 0;
  text-align: center;
  color: #eee;
  font-size: small;
}

.footer_copyright {
  color: #eee;
  padding-top: 1.5%;
}